/* General styles for the screen */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    background: linear-gradient(180deg, #CDE9F9 0%, #FFF 40%, #FFF5EF 85.43%);
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    line-height: 1.21;
    padding-bottom: 250px;
    position: relative;
    overflow: visible;
    min-height: 100vh;
}

/* Cloud movement and animations (only for screen) */
@media screen {
    .cloud {
        position: fixed;
        z-index: -1;
        opacity: 0.8;
        overflow: visible;
    }

    .cloud-1 {
        top: 100px;
        left: -150px;
        transform: translateX(50vw) scale(1.8);
        -webkit-animation: moveCloud1 45s linear infinite;
        animation: moveCloud1 45s linear infinite;
    }

    .cloud-2 {
        bottom: 100px;
        left: -450px;
        -webkit-animation: moveCloud2 49s linear infinite;
        animation: moveCloud2 49s linear infinite;
    }

    @-webkit-keyframes moveCloud1 {
        0% {
      -webkit-transform: translateX(-30vw) scale(1.8);
      transform: translateX(-30vw) scale(1.8);
        }
        100% {
      -webkit-transform: translateX(110vw) scale(1.8);
      transform: translateX(110vw) scale(1.8);
        }
    }

    @keyframes moveCloud1 {
        0% {
      -webkit-transform: translateX(-50vw) scale(1.8);
      transform: translateX(-50vw) scale(1.8);
        }
        100% {
      -webkit-transform: translateX(150vw) scale(1.8);
      transform: translateX(150vw) scale(1.8);
        }
    }

    @-webkit-keyframes moveCloud2 {
        0% {
      -webkit-transform: translateX(-160vw);
      transform: translateX(-160vw);
        }
        100% {
      -webkit-transform: translateX(160vw);
      transform: translateX(160vw);
        }
    }

    @keyframes moveCloud2 {
        0% {
      -webkit-transform: translateX(-60vw);
      transform: translateX(-60vw);
        }
        100% {
      -webkit-transform: translateX(160vw);
      transform: translateX(160vw);
        }
    }
 }

/* Print-specific styles */
@media print {
    body {
        background: linear-gradient(180deg, #CDE9F9 0%, #FFF 50%, #FFF5EF 90.43%);
        background-size: 100% 100%; /* Ensure the gradient fits each page */
        -webkit-print-color-adjust: exact; /* Ensures colors are printed accurately */
        print-color-adjust: exact; /* For non-WebKit browsers */
    }

    html, body {
        height: auto; /* Allow the height to adjust for each page */
    }

    /* Ensure clouds repeat on each page */
    .cloud {
        display: block;
        position: absolute; /* Use absolute positioning for printing */
        z-index: -1;
        opacity: 0.8;
        overflow: visible;
    }

    .cloud-1 {
        top: 280px; /* Position for the first cloud */
        right: -40px;
    }

    .cloud-2 {
        top: 80vh; /* Position for the second cloud */
        left: -30px;
    }


    @page {
        margin: 0.25in 0;
        @top-left { content: ""; }
        @top-center { content: ""; }
        @top-right { content: ""; }
        @bottom-left { content: ""; }
        @bottom-center { content: ""; }
        @bottom-right { content: ""; }
    }
}

a {
    color: rgb(19, 19, 145);
    text-decoration: underline;
}

a:hover {
    color: purple;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    z-index: 1;
}


.main-header {
    margin-left: -10px;
    display: block;
    padding: 20px 30px;
    border-top: 10px solid #1C4ECF;
    border-right: 4px solid #1C4ECF;
    border-bottom: 4px solid #1C4ECF;
    border-left: 4px solid #1C4ECF;
    background: #F1E6E3;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
    font-size: 12px;
    color: #222;
    text-align: left;
    line-height: 0.9;
}
.main-header p {
    margin: 0.3em 2em 0.1em 0;
}

.main-header .header h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    color: #1C4ECF;
}


.section-header {
    display: inline-flex;
    height: 25px;
    padding: 12px 20px 8px 10px;
    margin-left: -10px;
    align-items: center;
    flex-shrink: 0;
    border-top: 8px solid #1C4ECF;
    border-right: 3px solid #1C4ECF;
    border-bottom: 3px solid #1C4ECF;
    border-left: 3px solid #1C4ECF;
    background: #F1E6E3;
    /* box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25); */
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.experience-item,
.education-item,
.publication-item {
    margin-bottom: 18px;
}

.experience-header,
.education-header,
.publication-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    gap: 40px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.organization {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: -3px;
    line-height: 1.1;
    color: #000099;
}

.location {
    font-style: italic;
}

.date {
    color: #444;
    font-weight: normal;
    font-size: small;
    text-align: right;
    flex: 1;
}

.description {
    margin-top: 3px;
    text-align: justify;
}

.publication-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
    flex: 2;
}

.publication-authors {
    font-style: italic;
    margin-bottom: 2px;
    font-size: 14px;
}

.publication-venue {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    color: #444;
    margin-top: 2px;
}

.publication-award {
    font-weight: bold;
    font-size: small;
    font-style: normal;
    margin-top: 2px;
}

.publication-link {
    color: #1C4ECF;
    text-decoration: none;
    margin-bottom: 2px;
    display: inline-block;
}

.publication-link:hover {
    text-decoration: underline;
}

.awards-list,
.leadership-list,
.teaching-list {
    list-style-type: none;
    padding-left: 0;
}

.awards-list li,
.leadership-list li,
.teaching-list li {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.award-title,
.leadership-title,
.teaching-title {
    font-weight: bold;
}


.two-column {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.column {
    flex: 1;
}


@media (max-width: 650px) {
    .two-column {
        flex-direction: column;
        gap: 15px;
    }

    .column {
        width: 100%;
    }
}


/* Unique styles for mentorship items */
.mentorship-list {
    list-style-type: none;
    padding-left: 0;
}

.mentorship-item {
    margin-bottom: 10px;
    font-size: 14px;
}

.mentorship-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mentee-names {
    font-weight: bold;
    flex: 2;
}

.mentee-location {
    font-style: italic;
    font-weight: normal;
}

.mentorship-date {
    flex: 1;
    text-align: right;
    font-size: 12px;
    color: #555;
}

.mentorship-description {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
}


/* Unique styles for honors and fellowships */
.honors-list {
    list-style-type: none;
    padding-left: 0;
}

.honor-item {
    margin-bottom: 10px;
    font-size: 12px;
}

.honor-header {
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.honor-title {
    font-size: 14px;
    line-height: 1.1;
    font-weight: bold;
    flex: 2;
}

.honor-date {
    flex: 1;
    text-align: right;
    font-size: 12px;
    color: #555;
}
