* {
  box-sizing: border-box;
}


.window {
  min-width: 300px;
  margin-top: 15vh; 
  margin-bottom: 10px;
  margin-left: 4vw;
  margin-right: 4vw;
  width: 80 vw; 
  height: 80vh;

}
.window-body{
  padding: 3vw;
  padding-top:1vh;
}

.title-bar {
  height: 5%; 
  padding: 5%;
}
.title-bar-text{
  font-size: 3.5vw;
}

.col-8{
    flex: 0 0 auto;
    width: 66.666663%;
}
.col-4{
    flex: 0 0 auto;
    width: 33.333333333%;
}
.row{
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
legend{
  font-size: max(2vh, 20px);
}
li{
  font-size: max(1vh, 15px);
}
summary{
  font-size: 16px;
}
details[closed] summary span{
  display: inline;
  color: #de7e00;
  font-size: 12px;  
}

details[open] summary span{
  display: none;
  color: #de7e00;
  font-size: 12px;  
}




[role="tab"]{
  padding:40px;
  height: 6vh;
  min-height: 40px;
  max-height: 50px;
  width: 20vw;
  font-size: max(1.5vh, 15px);
  z-index: 4;
  border-bottom-width: 0px;
  top: 1px;
}
[role="tabpanel"] {
    border-top-outline: 1px;
    z-index:2;
    max-height: 55vh;
}

  

.verticalscroll{
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width : 500px) {
  .row{
    flex-direction: column;
  }
  .col-8{
    width: 100%;
  }
  .col-4{
    width:100%;
  }
  .col-3{
    width:100%;
  }
  [role="tab"]{
    font-size: min(1.5vh, 15px);
  }
}

/* --  clouds based on code from Mark Bowley on codepen:  -----
https://codepen.io/Mark_Bowley/pen/LYZEBq */
body {
  background: linear-gradient(186deg, #0360C8 6.25%, #267FD3 70.65%, #A4C5AB 100%);
  color: #333;
  font: 100% Arial, Sans Serif;
  height: 90vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 75s linear infinite;
  -moz-animation: animateCloud 75s linear infinite;
  animation: animateCloud 75s linear infinite;
  
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 55s linear infinite;
  -moz-animation: animateCloud 55s linear infinite;
  animation: animateCloud 55s linear infinite;
  
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */

.cloud {
  background-color: rgba(1,1,1,.5);
  background: #fff;
  opacity: 0.8;

  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  border-radius: 600px;
  
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 480px;
  position: relative;
  width: 700px;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.cloud:after {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;

  height: 400px;
  left: 250px;
  top: -50px;
  width: 500px;
  opacity: 0.8;
}

.cloud:before {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  opacity: 0.8;
  width: 580px;
  height: 480px;
  right: 350px;
  top: -190px;
}