* {
  box-sizing: border-box;
}

.button{
  font-size: max(1.3vw, 12pt);
}
select{
  font-size: max(0.3vh, 10pt);
  height: 2.3em;
  background-position: right 2px center;
  background-size: 1.2em 1.2em; /* Adjust the size as needed */
}
#colorSelect {
  transition: background-color 0.5s, color 0.3s; /* Add transitions for both background color and text color changes */
}
.window {

  /* WIDTH */
  min-width: 300px;
  max-width:80vw;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;

  /* HEIGHT */
  padding-bottom:30vh;
  margin-bottom: 10vh;
  margin-top: 3.5vh; 
  
  height: 85vh;
  min-height: 525px;
  margin-bottom: 20vh;

}

#shmbo {
  background: #eee;
  z-index: 10; /* set higher z-index value */
  width: 15vh;
  height: 25vh;
  min-width: 90px;
  min-height: 150px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vw;
  padding: 2vw;
}

.window-body{
  padding: 2vw;
  padding-top:1vh;
  margin-bottom: 100vh;
  margin: 20px;

}

.title-bar {
  height: 3vh; 
  padding: 2em;
  max-height: 5em;
}
.title-bar-text{
  font-size:calc(14px + 1vh);
}

.col-8{
    flex: 0 0 auto;
    width: 66.666663%;
}
.col-4{
    flex: 2 0 auto;
    width: 33.333333333%;
}
.col-5{
  flex-grow: 1;
  margin: 1vw;
  padding: 1vw;
  display: flex;
  flex-flow: column wrap;
}
.col-5 button{
  height: 5vh; 
  margin:2px; 
  width: 100%; 
  font-size: max(1.2vw, 11pt);
}
.home{
  height: 5vh; 
  margin:2px; 
  width: 100%; 
  font-size: max(1.2vw, 11pt);
}
.col-2{
  flex-grow: 1;
  width: 10%;
}

.row{
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
legend{
  font-size: max(2vh, 20px);
}
li{
  font-size: max(1vh, 15px);
}
summary{
  font-size: 16px;
}
details[closed] summary span{
  display: inline;
  color: #de7e00;
  font-size: 12px;  
}

details[open] summary span{
  display: none;
  color: #de7e00;
  font-size: 12px;  
}




[role="tab"]{
  padding:40px;
  height: 6vh;
  min-height: 40px;
  max-height: 50px;
  width: 20vw;
  font-size: max(1.5vh, 15px);
  z-index: 4;
  border-bottom-width: 0px;
  top: 1px;
}
[role="tabpanel"] {
    border-top-outline: 1px;
    z-index:2;

    margin-bottom: 15vh;

    height: 64vh;
    min-height: 250px;


}

  

.verticalscroll{
  overflow-x: hidden;
  overflow-y: auto;
}

/* For large screens (wider than 1200px) */
@media (min-width: 1150px) {
  .window {
    min-height: 560px;

  }

  [role="tabpanel"] {

    height: 61vh;
    min-height: 180px;
  }


}

/* -- MOBILE/ skinty view -- --*/
@media (max-width : 750px) {
  .window{

  }
  .window-body{

  }

  .title-bar-text{
  font-size:calc(11px + 1vh);
  }

  [role="tabpanel"] {
    border-top-outline: 1px;
    z-index:2;


    height: 65vh;
    min-height: 300px;

  }

  .faves{
    width: 100%;
  }
  .row{
    flex-direction: column;
  }
  .col-8{
    width: 100%;
  }
  .col-4{
    width:100%;
  }
  .col-3{
    width:100%;
  }
  .col-5{
    width:100%;
  }f
  .col-2{
    width:100%;
  }
  [role="option"]{
    font-size: 16px;
  }
  [role="tab"]{
    font-size: max(1.5vh, 15px);
  }
  .select{
    margin: 0.5em;
    width: 100%;
  }


}

/* -- tooltips --*/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 33vw;
  background-color: #fffbde;
  color: #000000;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  top: 100%;
  left: 50%;
  margin-left: 0em; /* Use half of the width (120/2 = 60), to center the tooltip */
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* --  clouds based on code from Mark Bowley on codepen:  -----
https://codepen.io/Mark_Bowley/pen/LYZEBq */
body {
  background: linear-gradient(186deg, #0360C8 6.25%, #267FD3 55%, #A4C5AB 83%, #A4C5AB 100%);
  /*font: 100% Arial, Sans Serif;*/
  overflow:hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#background-wrap {
  bottom: 30vh;
  width: 100%;
  overflow: hidden;
  left: 0;
  padding-top: 10px;
  padding-bottom: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

fieldset{
  font-size: max(1.1vw, 11px);
}

/**---- LISTBOXES from https://www.w3.org/WAI/ARIA/apg/patterns/listbox/examples/listbox-scrollable/----*/
.select-description{
  /*parent- aka the container that holds both the selecty box and the description*/
  display: inline-flex;
  align-items: stretch;
  width: 100%;
  min-height: 16vh;
}
.select-description-child{
  /*the 2 childrenz*/
  flex: 1;
  align-items: stretch;
  margin: 2px;
  font-family: "MS Sans Serif", Arial;
  font-size: max(1.4vw, 12px);
  min-height: 15vh;
  
}

.listbox-area {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  padding: 0em;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #eee;
  width: 100%;
}

[role="listbox"] {
  margin: 1em 0 0;
  padding: 2px;
  border: 1px solid #aaa;
  max-height: 8em;
  background: white;
  overflow-y: auto;
  overflow-x: auto;
}

[role="listbox"]#sem_list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  
}
[role="listbox"]#res_list {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
  margin:0.5vh;
  
}


[role="listbox"] + *,
.listbox-label + * {
  margin-top: 0.5em;
}

#res_list li{
  font-size: max(1.4vh, 14px);
}


[role="group"] {
  margin: 0;
  padding: 0.2em;
}

[role="group"] > [role="presentation"] {
  display: block;
  margin: 0;
  padding: 0 1em;
  font-weight: bold;
  line-height: 1.5em;
  background-color: #ccc;
  font-size: 11px;
}

[role="option"] {
  position: relative;
  display: block;
  padding: 0em 1.2em 0 1.6em;
  line-height: 1.4em;
  font-size: max(1.4vw, 12px);
  font-family: "Pixelated MS Sans Serif", Arial;
}

[role="option"].focused {
  background-clip:padding-box;
  background-color: #c6e2a5;
}

#sem_su21[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "☀️";
}
#sem_su22[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "☀️";
}
#sem_sp22[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🌸";
}
#sem_sp23[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🌸";
}
#sem_su23[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "☀️";
}
#sem_fa23[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🍁";
}

#res_opt1[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🎨";
}
#res_opt1[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🎨";
}
#res_opt2[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🖋";
}
#res_opt2[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🖋";
}
#res_opt3[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🔄";
}
#res_opt3[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "🔄";
}
#res_opt4[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "📣";
}
#res_opt4[aria-selected="true"]::before {
  position: absolute;
  left: 0.1em;
  content: "📣";
}

button[aria-haspopup="listbox"] {
  position: relative;
  padding: 5px 10px;
  width: 150px;
  border-radius: 0;
  text-align: left;
}

button[aria-haspopup="listbox"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: currentcolor;
  border-bottom: 0;
  content: "";
}

button[aria-haspopup="listbox"][aria-expanded="true"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: currentcolor;
  content: "";
}

button[aria-haspopup="listbox"] + [role="listbox"] {
  position: absolute;
  margin: 0;
  width: 9.5em;
  max-height: 10em;
  border-top: 0;
  overflow-y: auto;
}

[role="toolbar"] {
  display: flex;
}

[role="toolbar"] > * {
  border: 1px solid #aaa;
  background: #ccc;
}

[role="toolbar"] > [aria-disabled="false"]:focus {
  background-color: #eee;
}

button {
  font-size: inherit;
}

button[aria-disabled="true"] {
  opacity: 0.5;
}

.move-right-btn::after {
  content: " →";
}

.move-left-btn::before {
  content: "← ";
}

.annotate {
  color: #366ed4;
  font-style: italic;
}

.hidden {
  display: none;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  white-space: nowrap;
}



/* --- ANIMATIONS -----*/

.x1 {
  -webkit-animation: animateCloud 75s linear infinite;
  -moz-animation: animateCloud 75s linear infinite;
  animation: animateCloud 75s linear infinite;
  
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 55s linear infinite;
  -moz-animation: animateCloud 55s linear infinite;
  animation: animateCloud 55s linear infinite;
  
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */
.grasshill-left {
  position: fixed;
  bottom: -3vh;
  left: 25vw;
  display: flex;
  justify-content: left;
  width: 75vw; /* Adjust the width to make the ellipse wider */
  height: 23vh; /* Adjust the height to control the roundness */
  border-radius: 369px 1083px 0 0;
  background: var(--grass, linear-gradient(202deg, rgba(129, 200, 39, 0.90) 2.19%, rgba(136, 186, 29, 0.90) 43.55%, rgba(23, 94, 47, 0.90) 87.93%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  

  transform: translateX(-50%); /* Center the ellipse horizontally */
}
.grasshill-right {
  z-index: 2;
  position: fixed;
  bottom: -20vh;
  right: -15vw;
  display: flex;
  justify-content: right;
  border-radius: 2000px 2000px 2000px 500px;
  background: var(--grass, linear-gradient(202deg, rgba(129, 200, 39, 0.90) 2.19%, rgba(136, 186, 29, 0.90) 43.55%, rgba(23, 94, 47, 0.90) 87.93%));
  box-shadow: 5px 40px 16px 16px rgba(0, 0, 0, 0.45);
  width: 60vw; /* Adjust the width to make the ellipse wider */
  height: 33vh; /* Adjust the height to control the roundness */

}
.cloud {
  background-color: rgba(1,1,1,.5);
  background: #fff;
  opacity: 0.8;

  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  border-radius: 600px;
  
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 480px;
  position: relative;
  width: 700px;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.cloud:after {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;

  height: 400px;
  left: 250px;
  top: -50px;
  width: 500px;
  opacity: 0.8;
}

.cloud:before {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  opacity: 0.8;
  width: 580px;
  height: 480px;
  right: 350px;
  top: -130px;
}
